*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
body{
    background-color: #fff;
    font-family: 'Times New Roman', Times, serif;
    color: #000;
}
li{
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
header{
    width: 100vh;
    height: 121px;
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}