* {
  margin: 0;
  border: none;
  padding: 0;
  box-sizing: border-box;
}
nav {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  background: white;
  width: 55px;
  overflow: hidden;
  transition: width 0.2s linear;
  box-shadow: 0.2px rgba(0, 0, 0, 0.1);
}
a {
  position: relative;
  font-size: 14px;
  display: table;
  width: 300px;
  padding: 10px;
  color: black;
  text-decoration: none;
}
.items {
  padding-top: 41px;
  padding-left: 20px;
}
.items li {
  list-style-type: none;
  margin-bottom: 15px;
}
.items li :hover {
  background-color: #4ecdc4;
  color: white;
  border-radius: 8px;
}
.img :hover {
  background-color: white;
}
.nav_item:hover {
  color: white;
}
.nav_item {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.img {
  margin-right: 10px;
}
.logout li {
  list-style-type: none;
}
.logout {
  bottom: 0;
  position: absolute;
  padding-left: 20px;
}

.logout li :hover {
  background-color: #4ecdc4;

  color: white;
  border-radius: 8px;
}

nav:hover {
  width: 200px;
  transition: all 0.5s ease-in-out;
}
